.error {
    color: #FF0000;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0 3% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}



.mg-right{
    margin:0 4px 0 0;
}

h1 {
    color: #069;
    text-decoration: underline;
}